---
http_interactions:
- request:
    method: get
    uri: http://api.fantasy.nfl.com/v1/players/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statType":"seasonStats","season":"2017","week":2,"players":[{"id":"100029","esbid":null,"gsisPlayerId":false,"name":"San
        Francisco 49ers","position":"DEF","teamAbbr":"SF","stats":{"1":"2","45":"3","46":"1","47":"1","48":"2","52":"120","54":"35","57":"1","59":"1","62":"599","65":"1","66":"1"},"seasonPts":11,"seasonProjectedPts":85,"weekPts":7,"weekProjectedPts":5.67},{"id":"2552374","esbid":"ABD647726","gsisPlayerId":"00-0032104","name":"Ameer
        Abdullah","position":"RB","teamAbbr":"DET","stats":{"1":"1","13":"15","14":"30","20":"3","21":"11"},"seasonPts":4.1,"seasonProjectedPts":105.2,"weekPts":8.6,"weekProjectedPts":7.31},{"id":"2495101","esbid":"ACH678651","gsisPlayerId":"00-0028041","name":"Sam
        Acho","position":"LB","teamAbbr":"CHI","stats":{"1":"2","70":"4","71":"2"},"seasonPts":5,"seasonProjectedPts":0,"weekPts":2.5,"weekProjectedPt[...]
