<div class="player-input">
  <%= form_tag(nfl_player_show_path, method: :get) do %>
    <%= text_field_tag :player_1, nil, placeholder: "Enter first player"  %>
    <%= text_field_tag :player_2, nil, placeholder: "Enter second player" %>
    <%= submit_tag "Match up!" %>
  <% end %>
</div>
<div>
  <video width="320" height="240" autoplay>
    <source src="" type="video/mp4">
  </video>
</div>
